.container-fluid{
	background-color:white;
	
}

.navbar{ 
	&.navbar-default{
	border-color:white;
	}
}

.nav{
	&.navbar-nav{
		&.navbar-right{
			&.active{
				&.sr-only{
					background-color:blue;
				}
			}

		}

	}
}


.header-container{
	background:linear-gradient(180deg,#66a5ff,#0069ff);
	width:100%;
}

.titulo{
	font-size:36px;
	color:white;
	margin-top:60px;
}

.gif{
	position: relative;
}

.col-md-6{
	&.img-header {
    		border: 1px solid #0069ff;
    		border-radius: 4px;
		}
}
.img-header img{
	width: 80%;
    margin: 60px auto;
}
.container .navbar-default .navbar-nav>.active>a{
	background-color: #5da0ff;
}

.form-signin{
	&.form-crearCuenta{
		height: 130px;
	}
} 

.titulo-servicios {
  h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    text-align: center;
    margin-top:70px;
  }

  .bajada-servicios{
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  }
}

.margen-arriba{
	margin-top:100px;
}

.deploy-img{
	width:30%;
}

.ssd-img{
	width:30%;
}
.api-img{
	width:30%;
}


.titulo-precios {
  h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    text-align: center;
    margin-top:70px;
    }
  }